/* This is the beginning of my css */

h1 {
    color: rgb(255,0,0);
}

h2 {
    color: #00ffffff;
}

h3 {
    color: hsl(72,59%,50%);
}

nav {
    color: blueviolet;
}

body {
    background-color: lightslategray;
}