/* This is the beginning of my css */



h1 {
    color: rgb(255,0,0);
    font-size: 3vw;
    text-align: center;
}

text.for-decoration {
    text-decoration: underline;
}

text:active {
    color: yellow;
}

h2 {
    color: #00ffffff;
    font-size: 2vmin;
    display: block;
    height: 1cm;
}

h3 {
    color: hsl(72,59%,50%);
    font-size: 1vmax;
}

p {
    font-family: oswald;
    font-size: 12px;
}

@font-face {
    font-family: oswald;
    src: url("./font/Oswald-VariableFont_wght.ttf");
}

summary {
    font-size: 1cm;
}

nav {
    color: blueviolet;
    font-size: 0.2in;
    position: absolute;
    left: 800px;
    top: 50px;
}

body {
    background-color: lightslategray;
    width: 80vm;
    height: 80vh;
}

.menu {

}

button:hover {
    color: blue;
}

#Favourite_Class_2 {

}

fieldset details {
    display: inline;
}


div.hidden-text {
    display: none;
}

img {
    display: box;
    height: 5cm;
    width: 8cm;
    /* Margins */
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    /* paddings */
    padding-top: 0.5cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    /* broaders */
    border-style: dashed;
    border-width: 0.2cm;
    border-color: red;
    border-radius: 3px;
}

video {
    display: box;
    min-width: 8cm;
    max-width: 15cm;
    /* Margins */
    margin: 1cm 1cm 1cm 1cm;
    /* paddings */
    padding: 0.5cm 0.5cm 0.5cm 0.5cm;
    /* broaders */
    border: 2px solid green;

    /* relative position of the video */
    position: relative;
    top: -20px;
}

.week3-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.grid_container {
    display: grid;
    grid-template-rows: 55px;
    grid-template-columns: 200px;
    justify-items: end;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: yellow;
    }
}